spring.application.name=backend

# Remote AWS RDS database configuration
spring.datasource.url=jdbc:mysql://hardwarestoredb.cbkse86cws6f.eu-north-1.rds.amazonaws.com:3306/hardwarestoredb?useSSL=true&serverTimezone=UTC
spring.datasource.username=admin
spring.datasource.password=YOUR_RDS_PASSWORD_HERE
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA / Hibernate configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# JWT secret
jwt.secret=pQ8vK2r9sT1xW4zB7eF6gH3jL0mN5qR8
